@model DocumentFinder.Models.DOCUMENT_CONTENT

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DOCUMENT_CONTENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UDocIDContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UDocIDContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentDateAssigned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentDateAssigned)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
