@model DocumentFinder.Models.DOCUMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details for Doc-@Model.DocID</h2>


<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UniqueDocID)

    <div class="form-group">
        @Html.LabelFor(model => model.DocID, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocType, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocType, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocName, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocManuf, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocManuf, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocCatg, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocCatg, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocWONum, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocWONum, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocPONum, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocPONum, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocDate, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocDate, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocProjMgr, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocProjMgr, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocEqpAmt, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocEqpAmt, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DocDescr, htmlAttributes: new { @class = "text-right col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.DocDescr, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Edit", "Document", new { id = Model.UniqueDocID })" class="btn btn-primary">Update</a>
        </div>
    </div>
</div>

