@model DocumentFinder.Models.DOCUMENT

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Edit Record</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.UniqueDocID)
    @* ROW 1 *@
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Document ID", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document ID" } })
                @Html.ValidationMessageFor(model => model.DocID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Document Type", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocType, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Type" } })
                @Html.ValidationMessageFor(model => model.DocType, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @* ROW 2 *@
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Document Name", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Name" } })
                @Html.ValidationMessageFor(model => model.DocName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Manufacturer", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocManuf, new { htmlAttributes = new { @class = "form-control", @placeholder = "Manufacturer" } })
                @Html.ValidationMessageFor(model => model.DocManuf, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @* ROW 3 *@
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Document Category", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocCatg, new { htmlAttributes = new { @class = "form-control", @placeholder = "Document Category" } })
                @Html.ValidationMessageFor(model => model.DocCatg, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Work Order", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocWONum, new { htmlAttributes = new { @class = "form-control", @placeholder = "Work Order" } })
                @Html.ValidationMessageFor(model => model.DocWONum, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @* ROW 4 *@
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Purchase Order", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocPONum, new { htmlAttributes = new { @class = "form-control", @placeholder = "Purchase Order" } })
                @Html.ValidationMessageFor(model => model.DocPONum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Project Date", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Date" } })
                @Html.ValidationMessageFor(model => model.DocDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @* ROW 5 *@
    <div class="form-row">
        <div class="form-group col-md-6">
            @Html.Label("Project Manager", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocProjMgr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Manager" } })
                @Html.ValidationMessageFor(model => model.DocProjMgr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-6">
            @Html.Label("Project Amount", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocEqpAmt, new { htmlAttributes = new { @class = "form-control", @placeholder = "Project Amount" } })
                @Html.ValidationMessageFor(model => model.DocEqpAmt, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @* ROW 6 *@
    <div class="form-row">
        <div class="form-group col-md-12">
            @Html.Label("Equipment Description", htmlAttributes: new { @class = "control-label font-weight-bold" })
            <div class="">
                @Html.EditorFor(model => model.DocDescr, new { htmlAttributes = new { @class = "form-control", @placeholder = "Equipment Description" } })
                @Html.ValidationMessageFor(model => model.DocDescr, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary" />
        <a href="@Url.Action("Details", "Document", new { id = Model.UniqueDocID })" class="btn btn-secondary">Cancel</a>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
